body {
    background-color: rgba(255, 243, 200, 1);
}

.menu-titles{
    font-family: 'Reenie Beanie', cursive;
    font-size: 4em;
    color: #DAAD6A;
    text-decoration: underline;
    text-decoration-color: #DAAD6A;
}